In [11]:
pip install numpy

Requirement already satisfied: numpy in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
pip install tensorflow==2.17.0

Requirement already satisfied: tensorflow==2.17.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (2.17.0)
Requirement already satisfied: tensorflow-intel==2.17.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow==2.17.0) (2.17.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (25.1.24)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.4.0)
Requirement already satisfied: packaging in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (4.25.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.31.0)
Requirement already satisfied: setuptools in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (75.8.0)
Requirement already satisfied: six>=1.12.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (1.70.0)
Requirement already satisfied: tensorboard<2.18,>=2.17 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.17.1)
Requirement already satisfied: keras>=3.2.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.8.0)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.45.1)
Requirement already satisfied: rich in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (13.9.4)
Requirement already satisfied: namex in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.0.8)
Requirement already satisfied: optree in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.14.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (2023.7.22)
Requirement already satisfied: markdown>=2.6.8 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
pip install -r requirements.txt

Requirement already satisfied: tensorflow==2.17.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 1)) (2.17.0)
Requirement already satisfied: pandas in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: numpy in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 3)) (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 4)) (1.6.1)
Requirement already satisfied: tensorboard in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 5)) (2.17.1)
Requirement already satisfied: matplotlib in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 6)) (3.10.0)
Requirement already satisfied: streamlit in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 7)) (1.41.1)
Requirement already satisfied: scikeras in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 8)) (0.13.0)
Requirement already satisfied: tensorflow-intel==2.17.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow==2.17.0->-r requirements.txt (line 1)) (2.17.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (25.1.24)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (3.4.0)
Requirement already satisfied: packaging in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (4.25.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (2.31.0)
Requirement already satisfied: setuptools in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (75.8.0)
Requirement already satisfied: six>=1.12.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (1.70.0)
Requirement already satisfied: keras>=3.2.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (3.8.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (3.5.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.4.8)
Requirement already satisfied: pillow>=8 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (3.2.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (8.1.8)
Requirement already satisfied: pyarrow>=7.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (19.0.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.3.3)
Requirement already satisfied: jinja2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (4.19.1)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (1.24.1)
Requirement already satisfied: colorama in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 7)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.12)
Requirement already satisfied: namex in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (0.0.8)
Requirement already satisfied: optree in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (0.14.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (2.16.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from werkzeug>=1.0.1->tensorboard->-r requirements.txt (line 5)) (2.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.0->tensorflow==2.17.0->-r requirements.txt (line 1)) (0.45.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (5.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.10.4)
Requirement already satisfied: mdurl~=0.1 in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [16]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [18]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [19]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [20]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [21]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [22]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [23]:
# Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [24]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [25]:
## DiVide the dataset into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

In [26]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [27]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [28]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [29]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [30]:
y_train

9254    0
1561    0
1670    1
6087    1
6669    1
       ..
5734    0
5191    0
5390    1
860     1
7270    0
Name: Exited, Length: 8000, dtype: int64

In [31]:
y_test

6252    0
4684    0
1731    0
4742    0
4521    0
       ..
6412    1
8285    0
7853    1
1095    1
6929    1
Name: Exited, Length: 2000, dtype: int64

In [32]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [33]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

# ANN Implementation

In [34]:
pip install setuptools

Requirement already satisfied: setuptools in c:\users\aditya\appdata\local\programs\python\python312\lib\site-packages (75.8.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [35]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [36]:
(X_train.shape[1],)

(12,)

In [37]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

C:\Users\ADITYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [40]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [41]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [42]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [43]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [44]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [46]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8539 - loss: 0.3402 - val_accuracy: 0.8600 - val_loss: 0.3363
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8655 - loss: 0.3297 - val_accuracy: 0.8575 - val_loss: 0.3395
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8594 - loss: 0.3334 - val_accuracy: 0.8560 - val_loss: 0.3406
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8613 - loss: 0.3276 - val_accuracy: 0.8600 - val_loss: 0.3415
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8692 - loss: 0.3163 - val_accuracy: 0.8590 - val_loss: 0.3379
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8649 - loss: 0.3234 - val_accuracy: 0.8540 - val_loss: 0.3485
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8621 - loss: 0.3285 - val_accuracy: 0.8555 - val_loss: 0.3482
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8644 - loss: 0.3287 - val_accuracy: 0.8610 - val_loss: 0.3498
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8628 - loss: 0.3287 - val_accuracy: 0.8475 - val_loss: 0.3830
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8666 - loss: 0.3125 - val_accuracy: 0.8560 - val_loss: 0.3502
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8687 - loss: 0.3227 - val_accuracy: 0.8600 - val_loss: 0.3546

In [49]:
model.save('my_model.keras')

In [50]:
## Load Tensorboard Extension
%load_ext tensorboard

In [51]:
%tensorboard --logdir logs/fit

# Prediction

In [52]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [54]:
### Load the trained model, scaler pickle,onehot
model=load_model('my_model.keras')

## load the encoder and scaler
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

C:\Users\ADITYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\saving\saving_lib.py:757: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 8 variables whereas the saved optimizer has 14 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [56]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [57]:
# One-hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

C:\Users\ADITYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [58]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [59]:
## Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [60]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [61]:
## Scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [62]:
## Predict churn
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 190ms/step

array([[0.04121095]], dtype=float32)

In [66]:
prediction_proba = prediction[0][0]

In [67]:
prediction_proba

0.04121095

In [68]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.